.App {
  display: grid;
}

.dogImg {
  margin-top: 4rem;
  justify-self: center;
  height: 30rem;
}

button {
  margin-top: 2rem;
  width: 10rem;
  justify-self: center;
  background-color: cornflowerblue;
}